*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-size: 20px;
}

main, header{
    width: 70%;
    margin: auto;
    padding: 20px 10px;
    font-family: 'Lucida Console', monospace;
}

header{
    padding: 30px 0px;
}

.post{
    Font-size: 14px;
    color: #828282;
    margin-bottom: 10px;
    display: block;
}

ul{
    margin-top: 40px;
}

li{
    list-style-type: none;
}