@use '../../node_modules/bootstrap/scss/bootstrap.scss';


*{
color: white;
font-family: "Bebas Neue", sans-serif;

}

a{
    text-decoration: none;
    color: white;
}

// caratteristiche animazione
#text-container {
    // questa proprietà permette di gestire il testo. es. il nowrap non lo fara andare a capo anche se il suo contenitore e piu piccolo e il testo non ci starebbe al suo interno
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #000;
    font-size: 24px;
    // permette di rompere l'animazione in segmenti link per vedere come funziona  https://designmodo.com/steps-css-animations/
    animation: type 6s steps(50);
  }

